<div class="home-container">
  <div class="grid">

    <!-- Kunden Button -->
    <div class="card" (click)="goCustomers()">
      <img src="assets/icons/user.png" class="icon">
      <h2>Kunden</h2>
    </div>

    <!-- Ablesungen -->
    <div class="card">
      <img src="assets/icons/book.png" class="icon">
      <h2>Ablesungen</h2>
    </div>

    <!-- Reports -->
    <div class="card">
      <img src="assets/icons/report.png" class="icon">
      <h2>Reports</h2>
    </div>

  </div>
</div>
``
